body {
  /*background: url(texture-noise.png);*/
  /*overflow-x: hidden;*/
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

/* Profile Content */
.content {
  padding: 20px;
  background: rgba(255, 255, 255, .75);
  border-radius: 3%;
}

#chart, #header, #footer {
  position: absolute;
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

#home {
  background: url(../images/home.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  height: 100%;
}

/* Single-direction drop shadow */

hr.style {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* Service icon animation */
.service {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service .icon-holder {
  position: relative;
  top: 100px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service .heading {
  position: relative;
  top: 30px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
  width: 40px;
}

.serviceA:hover {
  border-color: #ddd;
  background-image: url(../images/red_sky_flatirons_boulder.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.serviceB:hover {
  border-color: #ddd;
  background-image: url(../images/buff_1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.serviceC:hover {
  border-color: #ddd;
  background-image: url(../images/webDev.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.service:hover .icon-holder {
  top: -30px;
}

.service:hover .heading {
  top: 0px;
}

.service .description {
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.service:hover .description {
  color: white;
  text-shadow:
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media screen and (max-width: 399px) {
.nodeTreeBox {
  width: 300px !important;
  overflow-x: scroll !important;
  height: 475px;
}
}

@media screen and (min-width: 400px) {
.nodeTreeBox {
  width: 350px !important;
  overflow-x: scroll !important;
  height: 475px;
}
}

@media screen and (min-width: 500px) {
.nodeTreeBox {
  width: 450px !important;
  overflow-x: scroll !important;
  overflow-y: none !important;
  height: 475px;
}
}

@media screen and (min-width: 600px) {
.nodeTreeBox {
  width: 550px !important;
  overflow-x: scroll !important;
  overflow-y: none !important;
  height: 475px;
}
}

@media screen and (min-width: 700px) {
.nodeTreeBox {
  width: 650px !important;
  overflow-x: scroll !important;
  overflow-y: none !important;
  height: 475px;
}
}

@media screen and (min-width: 800px) {
.nodeTreeBox {
  width: 750px !important;
  overflow-x: scroll !important;
  overflow-y: none !important;
  height: 475px;
}
}

@media screen and (min-width: 1099px) {
.nodeTreeBox {
  width: 850px !important;
  overflow-x: scroll !important;
  overflow-y: none !important;
  height: 475px;
}
}

@media screen and (min-width: 1100px) {
.nodeTreeBox {
  width: 100% !important;
  overflow-y: none !important;
  height: 475px;
}
}